$primary-color: #609; // was 008cba
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;

$h1-font-size: rem-calc(40);
$h2-font-size: rem-calc(32);
$h3-font-size: rem-calc(24);
$h4-font-size: rem-calc(20);
$h5-font-size: rem-calc(18);
$h6-font-size: 1rem;

$input-border-width: 1px;
