$checkbox-size: 50px;

.custom-checkbox, .custom-radio {
	display: none;
}

.has-checkbox, .has-radio {
	display: inline-block;
	height: $checkbox-size * 0.7;
	padding-left: $checkbox-size - 8px;
	margin-left: 0px;
	background-repeat: no-repeat;
	background-position: -8px -8px;
	background-size: $checkbox-size $checkbox-size;
	padding-top: 4px;
}

.row .has-checkbox, .row .has-radio {
	margin: 1rem;
}

.row .stack-below-checkbox {
	margin-left: $checkbox-size + 6px;
}

.has-radio {
	background-image: url(/template/images/radiobutton-unselected.png);
	
	&:after {
		content: "";
		background-image: url(/template/images/radiobutton-selected.png);
	}
	
	&.checked {
		background-image: url(/template/images/radiobutton-selected.png);
	}
}

.has-checkbox {
	background-image: url(/template/images/checkbox-unselected.png);
	
	&:after {
		content: "";
		background-image: url(/template/images/checkbox-selected.png);
	}
	
	&.checked {
		background-image: url(/template/images/checkbox-selected.png);
	}
}

.label {
	font-family: $header-font-family;
	font-weight: 500;
}

td input[type='text'], td select {
	width: inherit;
	height: inherit;
}

select[multiple] {
	padding: 0px;
}

.inline-fields {
	input[type='text'], select {
		display: inline-block;
		width: inherit;
	}
	
	p {
		white-space: nowrap;
		
		label {
			display: inline;
		}
	}
	
	label.inline {
		display: inline-block;
		margin: 1rem;
		&:first-child {
			margin-left: 0;
		}
	}
}

.field-group {
	background-color: $medium-gray;
	margin-bottom: 1rem;
	
	fieldset {
		padding-top: 1rem;
		
		&.initial-checkbox {
			padding-top: 0px;
		}
		
		> :not(.has-radio):not(.has-checkbox) {
			padding-left: 1rem;
			padding-right: 1rem;
		}
		
		h2:first-child, h3:first-child {
			padding: 1rem 1rem 0 1rem;
		}
	}
}

.filter-box-button {
	display: none;
	@include breakpoint(small down) {
		display: block;
		background-color: $light-gray;
		font-family: $header-font-family;
		font-weight: 700;
		color: $black;
		text-transform: uppercase;
		padding: 1rem;
		margin-bottom: 1rem;
		
		&:after {
			content: ">";
			float: right;
		}
		
		&:hover {
			color: inherit;
		}
		
		&.is-active {
			color: inherit;
			margin-bottom: 0;
		}
		
		&.is-active:after {
			content: "v";
		}
		
		& + .filter-box {
			display: none;
		}
		
		&.is-active + .filter-box {
			display: block;
		}
	}
}

.filter-box {
	background-color: $light-gray;
	padding: 1rem;
	margin-bottom: 1rem;
	
	li {
		padding-right: 1rem;
		vertical-align: top;
		
		> label, legend {
			font-family: $header-font-family;
			font-weight: 500;
			
			input, select, button, .select2-selection {
				font-family: $body-font-family;
				font-weight: normal;
				font-size: 16px;
			}
		}
		
		> .button {
			margin-top: 1.5rem;
		}
	}
}

.form-error-text {
	color: $primary-color;
	font-weight: bold;
}

/* select2 styles */
.select2 {
	@include form-select;
}

.select2-results li, .select2-search input {
	margin-bottom: inherit;
}

.select2-container--default .select2-selection--single {
	border: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: normal;
}

.select2-selection__arrow {
	display: none;
} 



/* The following is to reset styles on the custom search element */
.gsc-control-cse {
	* {
		-moz-box-sizing: content-box !important;
		-webkit-box-sizing: content-box !important;
		box-sizing:  content-box !important;
	}
	
	input {
		box-shadow: none !important;
		
		:focus {
			outline: none;
		}
	}
	
	table {
		border: none;
		background: transparent;
		
		td.gsib_b {
		  padding: 0px;
		}
	}
}

table.gsc-completion-container tbody tr {
	background: transparent;
}

.gsc-input-box, .gsc-search-box .gsc-input>input, .gsc-input-box-hover {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
